*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
    
}

.navbar {
    display: flex;
    margin-right: 40px;
}

.logo {
    margin-left: 40px;
    background: url(img/img7.jpg) no-repeat center;
    width: 300;
}

.logo a {
    text-decoration: none;
    color:hsl(258, 46%, 38%);
    text-transform: uppercase;
    font-size: 35px;
}

.navbar a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
}

.header p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(6, 37, 24);
    text-align: right;


}

.header {
    height: 150vh !important;
    width: 200vh;
    
    background: url(img/img8.jpg) no-repeat center;
    background-size: cover;
    color:rgb(0, 0, 0);
    text-align: center;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(57, 16, 206, 0.89);
    background: url(img/img7.jpg) no-repeat center;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #33F0FF;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    background: url(img/img2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: url(img/img3.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.price {
    background: url(img/img4.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    
}

.contact {
    background: url(img/img5.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    
}   
.device {
    background: url(img/img6.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    
}







@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
    
}