*
{
    margin: 10PX;
    padding: 10px;
}
body{
    background-color: #ECFF33;
    
}
header{
    height: 500px;
    width: 100%;
    background: url(img/img5.jpg) no-repeat center;
    text-align: center;
}   
nav{
    height: 800px;
    width: 100%;
    background-color:darkgoldenrod;
    background: url(img/img12.jpg.png) no-repeat center;
   
}
